# Números

Ejemplos sencillos con números en Phyton

In [1]:
#Suma
250 + 345

595

In [2]:
#Resta
10923 - 234

10689

In [3]:
#Multiplicacion
15 * 10

150

In [4]:
#Division
10 / 2

5.0

In [5]:
#Cociente
5 % 2

1

In [7]:
var = 25

In [8]:
var * 3

75

In [8]:
v1 = 345 
v2 = 455
res = v1 + v2

In [10]:
res
v1

345

In [11]:
print(res)
print(v1)

800
345

# Cadenas

In [13]:
#Podemos dar un formato a las cadenas que imprimimamos, como muestra el siguente ejemplo
name = 'Lina'
city = 'Duitama'
print("Mi nombres es {} y vivo en la ciudad de {}".format(name,city))

Mi nombres es Lina y vivo en la ciudad de Duitama

In [17]:
#Podemos acceder a la posición de una palabra, así como imprimir desde una posición inicial a una final
word = 'Lupa'
print(word[0])
print(word[1])
print(word[:4])

L
u
Lupa

In [25]:
#Podemos acceder a la posición de una palabra, así como imprimir desde una posición inicial a una final
word = 'Felices 20 años Facultad de Ingenieria JDC'
print(word[:7])
print(word[7:15])
print(word[15:])

Felices
 20 años
 Facultad de Ingenieria JDC

# Listas

In [1]:
[1,2,3,4]

[1, 2, 3, 4]

In [2]:
lista = ['a','b']
lista

['a', 'b']

In [3]:
#Agregar un elemento a una lista
lista.append('c')
lista

['a', 'b', 'c']

In [9]:
# Se imprimen las posiciones de una lista
print(lista[0])
print(lista[-1])
print(lista[:2])
print(lista[-3])

a
c
['a', 'b']
a

In [26]:
#Una lista doble 
doulist = [4,5,6,['d','f','g']]
doulist

[4, 5, 6, ['d', 'f', 'g']]

In [28]:
# Acceder a las posiciones de una lista doble
print(doulist[1])
print(doulist[3])
print(doulist[3][0])

5
['d', 'f', 'g']
d

# Diccionarios

Los diccionarios pueden ser visto como objetos que tiene una llave y un valor

In [10]:
dictio = {'nombre':'Lina','ciudad':'Tunja','color':'Morado'}
dictio

{'nombre': 'Lina', 'ciudad': 'Tunja', 'color': 'Morado'}

In [11]:
dictio['nombre']

'Lina'

In [13]:
print("Mi nombre es {} , mi color favorito es el {}".format(dictio['nombre'],dictio['color']))

Mi nombre es Lina , mi color favorito es el Morado

# Operador Booleano y Comparaciones

In [34]:
print(6 == 6)
print(8 == 14)

True
False

In [36]:
b1 = 45 
b2 = 10 
print(b1 > b2)
print(b1 < b2)
print(b1 == b2)

True
False
False

In [37]:
(5 < 7) and (8 > 5)

True

In [39]:
(5 < 7) or (9 < 12)

True

In [40]:
(5 < 7) and (8 > 5) or (3 > 4)

True

# Condicionales

In [15]:
a = 3 
b = 4
if(a == b):
    print("a es igual a b")
else: 
    print("a no es igual a b")

a no es igual a b

In [43]:
a = 3 
b = 6
if(a == b):
    print("a es igual a b")
elif(a > b):
    print("a es mayor que b")
elif(b > a):
    print("b es mayor que a")
else: 
    print("a no es igual a b")

b es mayor que a

# Bucles

Bucle FOR

In [16]:
li = [1,2,3,4,5,6,7]
for element in li:
    v = element + 1
    print(v)

2
3
4
5
6
7
8

Bucle WHILE

In [1]:
num = 1 
while num < 4:
    print(num)
    num = num + 1

1
2
3

In [2]:
for i in range(5,20):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

# Funciones

In [3]:
def holamundo():
    print("Hola Mundo")

In [4]:
holamundo()

Hola Mundo

In [64]:
def saludo(nombre):
    print("Hola, "+nombre)

In [65]:
saludo("Lina")

Hola, Lina

In [5]:
def doble(num):
    """
    Esta función regresa el doble del número ingresado
    """
    res = num * 2
    return res

In [6]:
#Con la combinación shift + tab podemos ver la documentación
doble(2)

4